.build
CMakeFiles
CMakeCache.txt
CPack*
cmake.h
commit.h
cmake_install.cmake
install_manifest.txt
libshared-prefix
patches
_CPack_Packages
CPackConfig.cmake
CPackSourceConfig.cmake
cmake-build-debug
*swp
